body {
  margin: 0;
  font-family: arial,sans-serif;
  font-size: 14px;
  color: #5F6368;
}

a {
  text-decoration: none;
  color: #1A49C5;
}

a:hover {
  color: lightblue;
  text-decoration: underline;
}

/* Search Bar Header Container */
/* -------------------------------------- */
.header-search-container {
  height: 122px;
  width: 100%;
}
.logo {
  position: relative;
  top: 28px;
  left: 20px;
  float: left;
}
.searchBar {
  position: absolute;
  left: 150px;
  top: 20px;
  font-size: 22px;
  width: 600px;
  height: 40px;
  border: 1px solid #DFE1E5;
  border-radius: 50px;
  background-image: url("images/magnifGlass.png"), url("images/google-microphone.png");
  background-repeat: no-repeat, no-repeat;
  background-position: 97% center, 90% center;
  background-size: 16px 16px, 14px 20px;
  padding-left: 20px;
  outline: none;
}

/* Search bar types, videos, images, shopping etc... */
.search-types-bar-container {
  position: absolute;
  left: 145px;
  top: 90px;
  height: 29px;
  width: 100%;
}
/*  */
.search-type {
  padding: 0 6px 12px;
  text-decoration: none;
  color: inherit;
}
.search-type:focus { /* If tab has been clicked will light up a blue border along the bottom of the margin. */
  color: blue;
  border-spacing: 5px;
  border-bottom: solid 3px blue;
}
.awesome-icons {
  padding: 0 5px;
  text-decoration: none;
  color: inherit;
}
.right-side-types {
  position: relative;
  left: 22px;
}
.search-type-border { /* Creates a border line similiar to a horizontal line break between the search results and the header. */
  height: 1px;
  border-bottom: solid 1px #EBEBEB;
  border-width: 100%;
}
/*-------------------- Website Layout Section -------------------*/
/* --------------------------------------------------------------*/
.column {
  margin-top: 15px;
  margin-left: 155px;
  float: left;
  width: 700px;
}
/* -----------------------Search Results -------------------------*/
/* -------------------------------------------------------------- */
/* Shows the amount of results pulled from the search. */
.amount-of-results {
  position: relative;
}

/*----------- Website Advertisement Containers Section -------------*/
/*------------------------------------------------------------------*/
/* The adverts is the container that holds the individual websites. */
.adverts {
  margin-top: 35px;
}
/* The icons in the top left of the website advert*/
.ad-letters {
  font-weight: bolder;
}
/* The section container that holds all the websites listed after the initial advertised websites on google. */
.websites {
  margin-top: 35px;
}
/* The website header is the title and also the hyperlink to take you to the webpage / website. */
.website-headers {
  margin: 8px 0;
  font-size: 20px;
  font-weight: lighter;
}
/* Brief description of what the website or webpage is about. */
.website-description {
  margin: 5px 0;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.3px;
  line-height: 22px;
}
/* The hyperlinks directly promoted by the website for easier access */
.website-anchors {
  margin: 5px 0;
}

/* ----------------YouTube Videos Section----------------- */
/* ------------------------------------------------------- */
/* The container that holds all of the video containers. */
.videos-container {
  display: flex;
  justify-content: space-around;
  width: 650px;
}
/* The containers for each individual video. */
.video-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px #B0B0B0 solid;
  border-radius: 10px;
  flex-basis: 150px;
}
/* The thumbnail image for each video contained in the boxes. */
.video-images {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-color: red;
}
/* The link and title that takes you to the YouTube video. */
.youtube-video-link {
  margin: 15px 15px 55px 15px;
  font-size: 18px;
  height: 100%;
  font-weight: lighter;
}
/* The username of the person who uploaded the YouTube video. */
.youtuber-username {
  margin-left: 15px;
  color: #B0B0B0;
}
/* The date the video in the box was uploaded to YouTube. */
.date-of-upload {
  margin-left: 15px;
  margin-bottom: 15px;
  font-size: 14px;
}

/* ---------------People Also Ask Question Boxes Below -------------*/
/* ---------------------------------------------------------------- */
/* The container that holds all of the "People also ask" boxes. */
.people-also-ask-container {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  width: 650px;
  border: 1px #B0B0B0 solid;
  border-radius: 8px;
}
/* The containers holding the question for the "People also ask" boxes. */
.people-question {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px #B0B0B0 solid;
  padding-left: 15px;
  font-weight: lighter;
  font-size: 16px;
}
/* The header for the box of "People also ask" */
.question-header {
  border-top: none;
  font-weight: lighter;
  font-size: 20px;
}
/* The downward pointed arrow at the right side of the "People also ask" boxes. */
.question-chevron-down {
  padding-top: 15px;
  padding-right: 15px;
}
